.container {
    width: 300px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
}

.interior {
    width: 100px;
    height: 100px;
    position: absolute;
    border: solid white;
    /* margin: 10px 0px 0px 10px; */
}

.div1 {
    background-color: red;
    z-index: 1;

}
.div2 {
    background-color: orange;
    z-index: 2;
    transform: translate(50%, 50%);

}
.div3 {
    background-color: yellow;
    z-index: 3;
    transform: translate(100%, 100%);
}
.div4 {
    background-color: blue;
    z-index: 4;
    transform: translate(150%, 150%);
}
.div5 {
    background-color: magenta;
    z-index: 5;
    transform: translate(200%, 200%);
}
